/* body{
    background-color: bisque;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

.logo h2{
       font-size: 45px; 
       font-weight: 900;
}

.color-orange{
    color: rgb(142, 65, 145);
    
}

/* Hire me controlled from here */
.btn{
    background-color: rgb(142, 65, 145);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* about section , what i do section */

.section-heading{

    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.section-heading h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}




/* main style */
/* top banner sdt,pfolio,blog,hire from here */
header{
    background-color: #FFF8F3;
    background: url("../images/pictwo.png"),#FFF8F3;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 800px auto;
    
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{

    font-size: 20px;
    color: #474747;
    text-decoration: none;

}


/* Banner part here */
#banner{
    /* border: 1px solid red; */
    margin: 50px 164px 0 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}
/* Hi i am */
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
/* Sadat */
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
/* paragraph here */
#banner .banner-content p{
    font-size: 40px;
    color: #757575;
    line-height: 43px;
    margin-bottom: 30px;

}

#banner .banner-image img{

    max-width: 585px;
    vertical-align: middle;

}

/* about section */

#about{
    padding-top: 130px;
}

/*  */
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;


}
/* part under about me name,mail etc */
#about .about-container .about-info{

    display: flex;
    justify-content: space-around;
    gap: 50px;

}

/* inner part of name,mail etc */
.about-info .info-card p{

    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{

    font-size: 20px;

}

/* Skills part */
#skills{
    padding-top: 130px;
}

#skills .skills-container{

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
/* Skill box's gaps and all */
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

}

.skill-box .skill-card{
    padding: 30px;
    border: 5px solid orangered; 
    max-width: 270px;
    box-shadow: 10px 10px 10px rgb(202, 143, 122);
    border-radius: 15px;

}

.skill-box img{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 25px;
    color: gray;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 20px;
    color:black;
    line-height: 28px;
    margin-bottom: 30px;
}